
 .box1{
  background-color: #000000;
  height: 30px;
  width: 100%;
  color: #e0e0e0;
 
}


.navbar ul li:last-child a:hover{
  color: #e0e0e0;
} 

 .navbar ul li:last-child a:hover {
  
  color: #ed8545;
}

.it{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ed8545;
  font-size: 35px;
}
.icon {
  margin-right: 8px;
  font-size: 20px;
}
.navbar ul li:last-child a:hover {
  background-color: rgb(2, 8, 58);
     color: #fdfbfa;
}
.login-dropdown {
  position: relative;
}

.login-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin-right: 40px;
}

.login-btn:hover {
   color: #ed8545;
} 

.dropdown-menu {
  position: absolute;
  top: 150%;
  left: 10%;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  
  box-shadow: 0 4px 10px rgba(56, 53, 53, 0.2);
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition: all 0.8s ease-in-out;
} 

 .dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);  
}

.dropdown-item {
   color: #ed8545;

  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
} 
.navbar ul li:last-child a {
    color: #ed8545;

}
 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
background-color: rgb(3, 7, 47);
  color: #e0e0e0;
}

.nav-center {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-grow: 1; 
  gap: 20px;
} 
.nav-right {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbar ul li a {
  color: #eae4e4;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover {
  color: #ed8545;
  transform: scale(1.1);
} 

